{% extends "timeclock_base.html" %}

{% block content %}
<div class="jumbotron">
{% if clocks %}
	<h1>All Employees Punches</h1>
	<h4>Filter the punches by date range</h4>
	<form method="POST" action="." id="date-range-form">
                <table class="form">
                {% csrf_token %}
                {{form}}
                </table>
                <input class="btn" type="submit" value="Search"></input>
        </form>
	<h4>Currently viewing punches in the date range: {{emp.period_start}} - {{emp.period_end}}</h4>
	<h4>See the last <a href="{% url 'timeclock:default_range_all' 1 %}">week</a>-<a href="{% url 'timeclock:default_range_all' 2 %}">2 weeks</a>-<a href="{% url 'timeclock:default_range_all' 4 %}">month</a></h4>
	<hr>
	<table class="job-table">
		<tr>
		<th>Name</th>
		<th>In/Out</th>
		<th>Time</th>
		<th>Project</th>
		<th></th>
		</tr>
		{% for clock in clocks %}
			<tr>
			<td><a href="{% url 'timeclock:employee' clock.employee.id %}">{{ clock.employee.name }}</a></td>
			<td>{{ clock.clock_type }}</td>
			<td>{{ clock.time }}</td>
			<td>{{ clock.project }}</td>
			<td><a href="{% url 'timeclock:clock' clock.id %}">Details</a></td>
			</tr>
		{% endfor %}

	</table>
{% endif %}
</div>

{% endblock %}
