{% extends "timeclock_base.html" %}

{% block content %}
<div class="jumbotron">
	<h1>Punch Detail</h1>
	<h4>Employee: {{ clock.employee.name }}</h4>
	<h4>Punch Type: {{ clock.clock_type }}</h4>	
	<h4>Time: {{ clock.time }}</h4>
	<h4>Project: {{ clock.project }}</h4>
	<h4>Note:</h4>
	<h5>{{ clock.note }}</h5>
</div>

{% endblock %}
