{% extends "timeclock_base.html" %}

{% block content %}
<div class="jumbotron">
	<h1>Clock in or out</h1>
	<form method="POST" action="." id="clock-add-form">
                <table class="form">
                {% csrf_token %}
                {{form}}
                </table>
                <input class="btn" type="submit" value="Punch Clock"></input>
        </form>
</div>

{% endblock %}
