{% extends "timeclock_base.html" %}

{% block content %}
<div class="jumbotron">
{% if employees %}
	<h1>Employee Information</h1>
	{% if admin %}
		<h4><a href="{% url 'timeclock:all_clocks' 1 %}">View all employees</a></h4>
	{% endif %}
	<table class="job-table">
		<tr>
		<th>Name</th>
		<th>Time Period Start</th>
		<th>Time Period End</th>
		<th></th>
		<th></th>
		</tr>
		{% for employee in employees %}
			<tr>
			<td><a href="{% url 'timeclock:employee' employee.id %}">{{ employee.name }}</a></td>
			<td>{{ employee.period_start }}</td>
			<td>{{ employee.period_end }}</td>
			<td><a href="{% url 'timeclock:add_clock' employee.id %}">Punch Clock</a></td>
			<td><a href="{% url 'timeclock:edit_employee' employee.id %}">Update Info</a></td>
			</tr>
		{% endfor %}

	</table>
{% else %}
	<h1>Welcome to the time clock, please <a href="{% url 'timeclock:add_employee' %}">create an employee profile</a></h1>
{% endif %}
</div>

{% endblock %}
