{% extends "timeclock_base.html" %}

{% block content %}
<div class="jumbotron">
	<h1>Update your profile</h1>
	<form method="POST" action="." id="employee-add-form">
                <table class="form">
                {% csrf_token %}
                {{form}}
                </table>
                <input class="btn" type="submit" value="Update Employee"></input>
        </form>
</div>

{% endblock %}
