{% extends "timeclock_base.html" %}

{% block content %}
<div class="jumbotron">
	<h1>Employee: {{employee.name}}</h1>
	<h4><a href="{% url 'timeclock:add_clock' employee.id %}">Punch Clock</a></h4>
	<h4>or</h4>
	<h4>Filter the punches by date range</h4>
	<form method="POST" action="." id="date-range-form">
                <table class="form">
                {% csrf_token %}
                {{form}}
                </table>
                <input class="btn" type="submit" value="Search"></input>
        </form>
	{% if clocks %}
		<h4>Currently viewing punches in the date range: {{employee.period_start}} - {{employee.period_end}}</h4>
		<h4>See the last <a href="{% url 'timeclock:default_range' employee.id 1 %}">week</a>-<a href="{% url 'timeclock:default_range' employee.id 2 %}">2 weeks</a>-<a href="{% url 'timeclock:default_range' employee.id 4 %}">month</a></h4>
		<hr>
		<table class="job-table">
		<tr>
		<th>In/Out</th>
		<th>Time</th>
		<th>Project</th>
		<th></th>
		<th></th>
		</tr>
		{% for clock in clocks %}
			<tr>
			<td>{{clock.clock_type}}</td>
			<td>{{clock.time}}</td>
			<td>{{clock.project}}</td>
			<td><a href="{% url 'timeclock:clock' clock.id %}">Details</a></td>
			<td><a href="{% url 'timeclock:edit_clock' employee.id clock.id %}">Edit</a></td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<h3>No punches available in the date range: {{employee.period_start}} - {{employee.period_end}}</h3>
		<h4>See the last <a href="{% url 'timeclock:default_range' employee.id 1 %}">week</a>-<a href="{% url 'timeclock:default_range' employee.id 2 %}">2 weeks</a>-<a href="{% url 'timeclock:default_range' employee.id 4 %}">month</a></h4>
	{% endif %}
</div>

{% endblock %}
