{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}CIT Job Board-Detail{% endblock %}

{% block content %}

<div class="jumbotron">
	{% if cur_user %}
		<a href="{% url 'jobboard:employer_edit' employer.id %}" >Edit Employer Info</a>
	{% endif %}
	<h1>{{employer}}</h1>
	<h4>Website: <a href="{{employer.website}}">{{employer.website}}</a></h4>
	<h4>Contact: {{employer.contact}} at: {{employer.email}}</h4>
	<p class="info">{{employer.description}}</p>

	{% if jobs %}
	<h3>Available jobs</h3>
	<table class="job-table">
		<tr>
		<th>Job Title</th>
		<th>Description</th>
		<th>FT/PT</th>
		<th>Wage</th>
		<th>Expires</th>
		{% if cur_user %}
			<th>Active?</th>
			<th></th>
		{% endif %}
		</tr>
		{% for job in jobs %}
			<tr>
			<td><a href="{% url 'jobboard:job_detail' job.id %}">{{job.title}}</a></td>
			<td>{{job.description}}</td>	
			<td>{{job.job_type}}</td>
			<td>{{job.wage}}</td>
			<td>{{job.expiry_date}}</td>
			{% if cur_user %}
				<td>{{job.active}}</td>
				<td><a href="{% url 'jobboard:job_edit' job.id %}">Edit Job</a>
			{% endif %}
			</tr>
		{% endfor %}
	</table>
	{% endif %}
</div>

{% endblock %}
