{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}CIT Job Board-Add Employer{% endblock %}

{% block content %}

<div class="jumbotron">
	<h1>{{user}}, you are adding a new Employer</h1>
	<form method="POST" action="." id="employer-add-form">
                <table class="form">
                {% csrf_token %}
                {{form}}
                </table>
                <input class="btn" type="submit" value="Add Employer"></input>
        </form>
</div>

{% endblock %}
