{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}CIT Job Board-Edit Employer{% endblock %}

{% block content %}

<div class="jumbotron">
	<h1>{{user}}, you are editing {{employer.name}}</h1>
	<form method="POST" action="." id="employer-edit-form">
                <table class="form">
                {% csrf_token %}
                {{form}}
                </table>
                <input class="btn" type="submit" value="Edit Employer"></input>
        </form>
</div>

{% endblock %}
