{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}CIT Job Board-Index{% endblock %}

{% block content %}

<div class="jumbotron">
	<h1>Available Jobs</h1>
	{% if jobs %}
	<table class="job-table">
		<tr>
		<th>Employer</th>
		<th>Job Title</th>
		<th>Description</th>
		<th>FT/PT</th>
		<th>Wage</th>
		</tr>
		{% for job in jobs %}
			<tr>
			<td><a href="{% url 'jobboard:employer_detail' job.employer.id %}">{{job.employer}}</a></td>
			<td><a href="{% url 'jobboard:job_detail' job.id %}">{{job.title}}</a></td>
			<td>{{job.description}}</td>	
			<td>{{job.job_type}}</td>
			<td>{{job.wage}}</td>
			</tr>
		{% endfor %}
	</table>
	{% endif %}
	<a href="{% url 'jobboard:subscriber_add' %}"><p class="subscribe">Subscribe or unsubscribe from job updates</p></a>
</div>

{% endblock %}
