{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}CIT Job Board-Add Job{% endblock %}

{% block content %}

<div class="jumbotron">
	<h1>{{user}}, you are adding a new Job</h1>
	<form method="POST" action="." id="job-add-form">
                <table class="form">
                {% csrf_token %}
                {{form}}
                </table>
                <input class="btn" type="submit" value="Add Job"></input>
        </form>
	<p>please allow up to a minute for this job to post</p>
</div>

{% endblock %}
