{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}CIT Job Board-Edit Job{% endblock %}

{% block content %}

<div class="jumbotron">
	<h1>{{user}}, you are editing {{job.title}} for {{job.employer.name}}</h1>
	<form method="POST" action="." id="job-edit-form">
                <table class="form">
                {% csrf_token %}
                {{form}}
                </table>
                <input class="btn" type="submit" value="Edit Job"></input>
        </form>
</div>

{% endblock %}
