{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}CIT Job Board-Detail{% endblock %}

{% block content %}

<div class="jumbotron">
	<h1>{{job.title}} at <a href="{% url 'jobboard:employer_detail' job.employer.id %}">{{job.employer}}</a></h1>
	<h4>Listed on: {{job.pub_date}} Until: {{job.expiry_date}}</h4>
	<h4>Wage: {{job.wage}} Type: {{job.job_type}}</h4>
	<p class="info">{{job.description}}</p>
	<hr>
	<h3>Contact {{job.employer}} about this job</h3>
	<form method="POST" action="." id="contact-form">
                <table class="form">
                {% csrf_token %}
                {{form}}
                </table>
                <input class="btn" type="submit" value="Contact Employer"></input>
        </form>
	<hr>
	<h3>About {{job.employer}}</h3>
	<h4>Website: <a href="{{job.employer.website}}">{{job.employer.website}}</a></h4>
	<h4>Contact: {{job.employer.contact}} at: {{job.employer.email}}</h4>
	<p class="info">{{job.employer.description}}</p>
</div>

{% endblock %}
