{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}CIT Job Board-Subscribe{% endblock %}

{% block content %}

<div class="jumbotron">
	<h1>Unsubscribe from updates on job listings</h1>
	<form method="POST" action="." id="subscriber-del-form">
                <table class="form">
                {% csrf_token %}
                {{form}}
                </table>
                <input class="btn" type="submit" value="Unsubscribe"></input>
        </form>
</div>

{% endblock %}
