{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}CIT Job Board-Subscribe{% endblock %}

{% block content %}

<div class="jumbotron">
	<a href="{% url 'jobboard:subscriber_del' %}">Unsubscribe from updates</a>
	<h1>Subscribe to recieve updates on job listings</h1>
	<form method="POST" action="." id="subscriber-add-form">
                <table class="form">
                {% csrf_token %}
                {{form}}
                </table>
                <input class="btn" type="submit" value="Subscribe"></input>
        </form>
</div>

{% endblock %}
