body {
	font-family: 'Titillium Web', sans-serif;
}
.content{
	width:966px;
	min-height:500px;
	margin: 0px auto 0px auto;
	padding:30px 5px 0px 5px;
	background: rgb(222,239,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */

	box-shadow: 0px 5px 5px 2px #ddd;


}

.jumbotron {
	width:800px;
	min-height:200px; /*to accomodate profiles that have no posts yet */
	margin:20px auto;
	padding:5px 20px 10px 20px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 2px 2px 0px #ddd;
	
}
.posts, .mentions{
	width:700px;
	margin:5px auto;
	padding:20px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 2px 2px 0px #ddd;
	
}

.head {
	text-align:center;
}
h1{
	color:#000;
	text-align:center;
}
h2{
	color:#888;
	text-align:center;
}
h3, h4, h5{
	color:#777;
	text-align:center;
}
.add{
	margin: 0px auto;
}
.btn {
	width:220px;
	position:relative;
	left:278px;
}

.info {
	text-align:center;
}
.desc {
	color:#000;
}
.comments {
	text-align:center;
	color:#999;
	border-top:1px solid;
}
.user{
	color:#FF0000;
	font-style:oblique;

}
.table {


}
.form {
	margin:20px auto 0px auto;

}

.btn {
	width:400px;
	position:relative;
	left:510px;
}
.footer {
	margin:20px 0px 0px 0px;
	padding: 0px;
	text-align:right;
	position:relative;
	left:0px;
}
.messages {
	list-style:none;

}
.success {
	color:green;
	list-style:none;

}
.error {
	color:red;
	list-style:none;
}
.cur_user {
	position:absolute;
	top:45px;

}


.profiles {
	margin: 0px auto;

}
.profiles td {
	padding: 10px;
}
.profile-img {
	float:left;
	margin:10px 0px;
	border:2px solid #BBB;
}

.bio {
	text-align:center;
}

.job-table {
	margin:0px auto;
	
}
.job-table td, .job-table th{
	padding:10px;
	border-bottom: 1px #000 solid;
}

.edit {
	position:relative;
	top:-20px;
	left:690px;
}
.add {
	position:relative;
	top:200px;
	left:428px;
}
.follow {
	position:relative;
	top:-20px;
	left:510px;
}
.messages{
	width:800px;
	margin:20px auto;
	padding:10px 20px 10px 20px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 2px 2px 0px #ddd;
	font-size:15pt;
	text-align:center;
}
.success {
        color:green;
        list-style:none;

}
.error {
        color:red;
        list-style:none;
}

.subscribe{
	width:800px;
	text-align:right;
	padding-top:5px;
}
a:link, a:visited {color:#3399FF;}
a:hover {color:#555;}
