{% load staticfiles %}
<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="utf-8"> 
	{% block title %}<title>CIT-Job Board</title>{% endblock %}
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web:600' rel='stylesheet' type='text/css'>
	<link rel ="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel ="stylesheet" href="{% static 'style.css' %}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
	<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
	{% block scripts %}{% endblock %}
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
		<ul class="nav">
		  <li class="active">
		    <a class="brand" href="{% url 'jobboard:index' %}">CIT-Job Board</a>
		  </li>
		  <li class="dropdown">
                    <a href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown">
                          Recent Jobs
                          <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                     {% for job in recent_jobs %}
                     <li><a href="{% url 'jobboard:job_detail' job.id %}">{{job.title}}</a></li>
                     {% endfor %}
                    </ul>
                  </li>
		  <li class="dropdown">
                    <a href="#"
                          class="dropdown-toggle"
                          data-toggle="dropdown">
                          Employers
                          <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                     {% for employer in employers %}
                     <li><a href="{% url 'jobboard:employer_detail' employer.id %}">{{employer.name}}</a></li>
                     {% endfor %}
                    </ul>
                  </li>
		  </ul>
		 <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
		    <li><a href="{% url 'jobboard:employer_add' %}">Add Employer</a></li>
		    <li><a href="{% url 'jobboard:job_add' %}">Add Job</a></li>
                    
                    <li><a href="{% url 'auth_logout' %}"> Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-user"></span> Log In</a></li>
                    {% endif %}
		    <li><a href="{% url 'timeclock:index' %}">Timeclock</a></li>
		    {% if user.is_superuser %}
			<li><a href="{% url 'admin:app_list' 'jobboard' %}">Admin</a></li>
		    {% endif %}
		    <li><a href="http://mysite.smg247.webfactional.com">Other Apps</a></li>
                </ul>

	    </div>
	  </div>
	</div> 
	<div class="content">
		{% if messages %}
		<div class="messages">
			{% for message in messages %}
				<p class={{message.tags}}>{{message}}</p>
			{% endfor %}
		</div>
		{% endif %}
		{% block content %}

		{% endblock %}
		
		<div class="footer">
		Created by: Stephen Goeddel<br />
		On: 10/9/2013
	</div>
	</div>

</body>

</html>
