{% load staticfiles %}
<!DOCTYPE html> 
<html lang="en"> 
<head> 
        <meta charset="utf-8"> 
        {% block title %}<title>Job Board-Time Clockr</title>{% endblock %}
        <link rel ="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel ="stylesheet" href="{% static 'style.css' %}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        {% block scripts %}{% endblock %}
</head>
<body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                  <li class="active">
                    <a class="brand" href="{% url 'jobboard:index' %}">Job Board-Time Clock</a>
                  </li>
                 <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'auth_logout' %}"> Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-user"></span> Log In</a></li>
                    {% endif %}
                    <li><a href="{% url 'jobboard:index' %}">Job Board</a></li>
                    <li><a href="{% url 'timeclock:index' %}">Time Clock</a></li>
		    <li><a href="http://mysite.smg247.webfactional.com">Other Apps</a></li>
                </ul>

            </div>
          </div>
        </div> 
        <div class="content">
	<div class="jumbotron">
        {% block content %}

        {% endblock %}
	</div>
                <div class="footer">
                Created by: Stephen Goeddel<br />
                On: 10/19/2013
        </div>
        </div>

</body>

</html>
